/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .top1-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  .btn {
    width: 100%;
    display:block;
    margin:0.2em auto;
  }

  .detail {
    width:80px;
    text-align: center;
  }

  .facebook {
    margin-bottom: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top1-wrapper h1 {
    text-align: left;
  }

.header-right{
  display:none;
}

.menu-icon{
  display:block;
}

.foot-wrapper{
  display:block;
}

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

.heading {
    text-align: left;
  }

.lessons {
  margin:0 auto;
}

.lesson-icon img {
  display:block;
  text-align: center;
  }

}
